@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap");

html,
body {
  background-image: linear-gradient(black, black, black, white);
  font-family: STIXIntegralsUpD, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

i {
  margin-right: 1rem;
}

p {
  line-height: 2.25rem;
}
.common-container {
  opacity: 0;
}
.container {
  display: grid;
  gap: 2rem;
}

div.big-logo-container {
  display: flex;
  justify-content: center;
}

div.big-logo-container img {
  height: 500px;
}

div.main-container {
  background-color: white;
  margin: 1rem 5.5rem 0 5.5rem;
  padding: 2.5rem 2.5rem 10rem 2.5rem;
  border-radius: 5px 5px 0 0;
  gap: 3rem;
}

.centered-title {
  font-weight: 650;
  letter-spacing: 15px;
  font-size: 42px;
  justify-self: center;
}

.title-heading {
  font-weight: 500;
  font-size: 24px;
  font-style: "Advent Pro", sans-serif;
  text-decoration: underline;
  letter-spacing: 5px;
}

.sub-title-heading {
  font-weight: 500;
  margin-top: 0.5rem;
  font-size: 20px;
  font-style: "Advent Pro", sans-serif;
  text-decoration: underline;
  letter-spacing: 5px;
}

.about-container {
  gap: 0.5rem;
}

.p-about {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.education-about {
  display: flex;
  flex-direction: row;
}

.uniname {
  font-weight: 600;
  font-size: 18px;
}

.education-about ul {
  list-style: none;
}

.education-about img {
  max-width: 150px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border: 1px gold solid;
  box-shadow: 0px 0px 5px grey;
}

.project {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  border-radius: 10px;
  padding: 1rem;
  justify-content: center;
  transition: all 0.3s;
}

.project-violet:hover {
  transition: all 0.5s;
  background-image: linear-gradient(to right, violet, white, white, white);
  box-shadow: 0px 0px 10px violet;
}

.project-green:hover {
  transition: all 0.5s;
  background-image: linear-gradient(
    to left,
    rgb(87, 255, 191),
    white,
    white,
    white
  );
  box-shadow: 0px 0px 10px rgba(79, 253, 146, 0.904);
}

.project-red:hover {
  transition: all 0.5s;
  background-image: linear-gradient(
    to right,
    rgba(185, 0, 0, 0.664),
    white,
    white,
    white
  );
  box-shadow: 0px 0px 10px rgb(185, 0, 0);
}

.reverse {
  grid-template-columns: 2fr 1fr;
}

.project > .project-icon {
  justify-self: center;
  justify-content: center;
  display: flex;
  max-width: 350px;
  max-height: 200px;
}

.project > .project-icon > img {
  border-radius: 25px;
  height: 100%;
  box-shadow: 0px 0px 12px rgb(37, 37, 37);
}

.project .bottom-border-span {
  background-color: #3d3d3d;
  width: 100%;
  height: 3px;
  box-shadow: 0px -5px 15px grey;
}

.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.technology {
  justify-self: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.technology .tech-icon {
  background-color: transparent;
}

.technology .tech-icon img {
  max-width: 95px;
  max-height: 95px;
  border-radius: 100%;
  background-color: transparent;
  transition: all 0.3s;
}

.technology .tech-icon img:hover {
  box-shadow: 0px 0px 5px rgb(37, 37, 37);
  transition: all 0.3s;
}

.event {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.event-icon {
  justify-content: center;
  display: flex;
}

.event-icon > img {
  height: 250px;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}

footer {
  background-color: #000000;
  color: #dfdfdf;
  margin: 1rem 5.5rem 0 5.5rem;
  padding: 2.5rem;
  border-top: 4px solid #adadad;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 10px black;
  padding-bottom: 10rem;
}

footer ul {
  list-style: none;
  font-size: 20px;
  font-weight: 200;
  color: white;
}

footer ul li {
  margin: 2rem 2rem 2rem 0px;
}

footer a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

footer a:hover {
  color: beige;
  text-decoration: underline;
  text-shadow: 0px 0.5px 3px rgb(196, 196, 196);
  transition: all 0.5s;
}

div.footer-body {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

div.footer-logo {
  justify-self: center;
  align-self: center;
  padding: 3em;
  border: 2px solid #eee;
  border-radius: 100%;
  box-shadow: 0px 0px 10px white;
  animation: glow 5s infinite linear alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px white;
  }
  100% {
    box-shadow: 0px 5px 50px rgb(255, 242, 168);
  }
}

.card {
  padding: 1rem;
  border: 2px rgb(37, 37, 37) solid;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 15px grey;
  transition: all 0.3s;
}

.card a {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.card a:hover {
  color: rgb(138, 117, 0);
  text-decoration: underline;
  transition: all 0.3s;
}

/* MEDIA */
@media screen and (max-width: 928px) {
  div.main-container {
    margin: 0.5rem 0.5rem 0 0.5rem;
  }

  footer {
    margin: 0.5rem 0.5rem 0 0.5rem;
  }
}
@media screen and (max-width: 785px) {
  p {
    line-height: 1.25rem;
    text-align: center;
    padding: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 1rem;
  }

  div.big-logo-container {
    display: flex;
    justify-content: center;
  }

  div.big-logo-container img {
    height: 400px;
  }

  div.main-container {
    background-color: white;
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.3rem 0.3rem 5rem 0.3rem;
    border-radius: 5px 5px 0 0;
    gap: 1.5rem;
    overflow: hidden;
    padding: 0;
  }

  .centered-title {
    font-weight: 650;
    letter-spacing: 1px;
    font-size: 28px;
    text-align: center;
  }

  .title-heading {
    font-weight: 500;
    font-size: 20px;
    font-style: "Advent Pro", sans-serif;
    text-decoration: underline;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .sub-title-heading {
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 18px;
    font-style: "Advent Pro", sans-serif;
    text-decoration: underline;
    letter-spacing: 1px;
  }

  .about-container {
    gap: 0.5rem;
  }

  .p-about {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }

  .education-about {
    display: grid;
    grid-template-rows: repeat(auto-fill);
  }

  .uniname {
    font-weight: 600;
    font-size: 18px;
  }

  .education-about ul {
    list-style: none;
  }

  .education-about img {
    max-width: 150px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border: 1px gold solid;
    box-shadow: 0px 0px 5px grey;
  }

  .project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-template-columns: 1fr;
    border-radius: 10px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  .project-violet:hover {
    transition: all 0.5s;
    background-image: none;
    box-shadow: none;
  }

  .project-green:hover {
    transition: all 0.5s;
    background-image: none;
    box-shadow: none;
  }

  .project-red:hover {
    transition: all 0.5s;
    background-image: none;
    box-shadow: none;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
    justify-content: center;
  }

  .project > .project-icon {
    justify-self: center;
    justify-content: center;
    display: flex;
    max-width: 300px;
    max-height: 200px;
  }

  .project > .project-icon > img {
    border-radius: 25px;
    height: 100%;
    box-shadow: 0px 0px 12px rgb(37, 37, 37);
  }

  .project .bottom-border-span {
    visibility: hidden;
  }

  .tech-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
  }

  .technology {
    font-weight: 600;
    font-size: 18px;
  }

  .event {
    padding-left: 0rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .event-icon {
    justify-self: center;
    width: 300px;
    height: 150px;
  }

  .event-icon > img {
    height: 100%;
    box-shadow: 0px 0px 10px rgb(37, 37, 37);
  }

  footer {
    background-color: #000000;
    color: #dfdfdf;
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 1rem;
    border-top: 4px solid #adadad;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 10px black;
    padding-bottom: 10rem;
  }

  footer ul {
    list-style: none;
    font-size: 20px;
    font-weight: 200;
    color: white;
  }

  footer ul li {
    margin: 2rem 2rem 2rem 0px;
  }

  div.footer-body {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .social-list {
    padding-left: 3.2rem;
    text-align: center;
  }

  .social-list i:not(.fa-envelope-o) {
    margin-left: -2rem;
  }

  .card {
    margin: 1rem;
    padding: 0.2rem;
    border: 2px rgb(37, 37, 37) solid;
    box-shadow: 0px 0px 5px grey;
    border-radius: 5px;
    transition: all 0.3s;
    text-align: center;
  }
  .card img {
    margin: auto;
  }
  .card ul {
    padding: 0;
  }
}

.scroll {
  opacity: 1;
}


/*# sourceMappingURL=/main.d2070829.css.map */